#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        copy_macro: copy_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LCTRL
                &macro_tap   &kp C
                &macro_release &kp LCTRL
            >;
        };

        paste_macro: paste_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LCTRL
                &macro_tap   &kp V
                &macro_release &kp LCTRL
            >;
        };

        nethack_win_n: nethack_win_n {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LWIN
                &macro_tap   &kp N
                &macro_release &kp LWIN
            >;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            bindings = <
                &to 1 ESC
                &kp DELETE
                &kp BACKSPACE
                &to 2 SPACE
            >;
        };

        macro_layer {
            display-name = "Maco";

            bindings = <
                &none
                &copy_macro
                &paste_macro
                &nethack_win_n
            >;
        };

        num_layer {
            display-name = "Number";

            bindings = <
                &kp N1
                &kp N2
                &kp N3
                &none
            >;
        };
    };
};