#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        copy_macro: copy_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LCTRL
                &macro_tap   &kp C
                &macro_release &kp LCTRL
            >;
        };

        paste_macro: paste_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LCTRL
                &macro_tap   &kp V
                &macro_release &kp LCTRL
            >;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            bindings = <
                &kp A
                &kp B
                &copy_macro
                &paste_macro
            >;
        };
    };
};